/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: white;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;              /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  transition:1s;
  width: 60%;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;
  min-width: 900px;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #6e6e73;
}

/* Indeling voor hoofd pagina */

hr{
  margin-top:30px;
  margin-bottom:20px;
  border-width:1px;
  border-style:solid;
  border-color:#aaaaaa;
}

.welcomeBox iframe{
  width: 300px;
  height: 350px;
  margin-left:10%;
  float: left;
  border-width: 0px;
}

.welcomeBox{
  margin-top:50px;
  width: 100%;
}

.welcomeTexts{
  float: right;
  display:block;
  margin-right: 10%;
  margin-top: 130px;
}

.aboutSection p{
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.aboutSection{
  margin-top: 50px;
  transition:1s;
}

.titleText h3{
  margin-top:-10px;
}



.products .iphone, .products .ipad, .products .watch, .products .mac{
  opacity:70%;
  transition:.5s;
  transition-timing-function: ease-in-out;
}

.products .iphone img{
  height:500px;
}

.products div:hover{
  opacity:100%;
}

.products p{
  margin-left:10%;
  margin-right:10%;
  margin-bottom:20px;
  text-align:center;
}

.products .infoBlock{
  background-color:whitesmoke;
  border-radius:5px;
}

.products .twoProducts{
  margin-top:20px;
}

.products .twoProducts .ipad{
  float:left;
}

.products .twoProducts .watch{
  float:right;
}

.products .twoProducts .ipad, .products .twoProducts .watch{
  width:45%;
}

.products .twoProducts .watch img{
  height: 350px;
  margin-bottom:35px;
  margin-top:15px;

}

.products .ipad img{
  height:400px;

}

.products .mac img{
  height:500px;
  
  z-index: 1;
  margin-top:-30px;
  margin-bottom:-70px;
  position:relative; /*anders gaat de witruimte van de afbeelding over het infoBlock heen*/
}

.products .mac .infoBlock{
  z-index: 100;
  position:relative;
}

.products img{
  width:auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}



.upperSection{
  margin-top:30px;
  margin-bottom:20px;
}

.upperSection div, .lowerSection div{
  width: calc(50% - 20px);
  height: 350px;
  transition: 1s;
}

.upperSection div img, .lowerSection div img{
  transition: 1s;
}

.leftImage img, .rightImage img{
  object-fit:cover;
  height: 100%;
  width: 100%;
}

.leftImage{
  float:left;
  margin-left:10px;
}

.rightImage{
  float:right;
  margin-right:10px;
}

.photoSection img:hover{
  scale:1.05;
}


/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #86868b;;
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer iframe{
  border-width: 0px;
  width: 100%;
  height: 50px;
}




/* Navigatiebalk voor alle pagina's */
header{
    background-color: #dddddd;
    border-style:solid;
    border-width: 3px;
    border-color: ghostwhite;
}

nav ul {
    float:right;
    list-style-type: none;
    /*margin: auto; */
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#mainTitle{
  color:#1d1d1f;
  float: left;
  margin: 0px 10px 0px 10px;
  padding-top: 5px;
  font-weight: bold;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}
