:not(#map) p,
:not(#map) h1,
:not(#map) h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* :not(#map) div {
    overflow:hidden;
} */

html, body {
    margin:0;
    padding:0;
    background-color: lightgreen;
}

.playerIcon{
    width:min-content;
    height:min-content;
    padding: 5px 2px 5px 2px;
    border-style:solid;
    border-width:2px;
    border-color:white;
    background-color:lightgreen;
}

.playerIcon p{
    font-family:sans-serif;
    color:seagreen;
    margin-top:0px;
    margin-bottom:0px;
}

.playerIcon.zoeker{
    background-color:lightskyblue;
}

.playerIcon.oldLocation{
    border-color:lightcoral;
}

.playerIcon.freshLocation {
    border-color:white;
}



#welcome-wrapper{
    display:flex;
    align-items:center;
    justify-content: center;
    
}



#verhoogdInterval {
    border-style:solid;
    border-width:2px;
    border-color:black;
    border-radius:5px;
}

#map-create {
    width:500px;
    height:500px;
}



#uitloopWrapper {
    display:flex;
    position:absolute;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;
}

#uitloopTextWrapper {
    flex-direction:column;
    align-items:center;
    justify-content:center;
    display:flex;
    height:min-content;
    width:min-content;
}

/* #gameWrapper {
    overflow:hidden;
} */

#gameWrapper #header{
    display:flex;
    width:var(--vw);
    height:40px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    background-color:lightgreen;
}

#gameWrapper #header h3{
    margin-left:10px;
    margin-right:10px;
}
