p.StationName.PASSING {
    font-size:14px;
    color:lightsteelblue;
}

p.StationName.STOP, p.StationName.ORIGIN, p.StationName.DESTINATION{
    font-size:16px;
    color:black;
}

p.StationName.ORIGIN, p.StationName.DESTINATION {
    font-weight:bold;
}

.TrainStopProgressBar {
    width:10px;
    align-self:stretch;
    display:flex;
    flex-direction:column;
    margin-right:4px;
}

.TrainStopBarHorizontal {
    display:none;
}

.TrainStopBarVertical.STOP{
    display:block;
    width:3px;
    height:100%;
    background-color:cornflowerblue;
    align-self:stretch;
}

.TrainStopBarOrigin {
    display:none;
}

.TrainStopBarOrigin.ORIGIN {
    height:100%;
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
}

.TrainStopBarOrigin.ORIGIN .ShortLine{
    width:3px;
    height:15px;
    background-color: cornflowerblue;
}
.TrainStopBarOrigin.ORIGIN .SideCircle{
    width:13px;
    height:13px;
    margin-left:-5px;
    border-radius:50%;
    background-color: cornflowerblue;
}

.TrainStopBarDestination {
    display: none;
}

.TrainStopBarDestination.DESTINATION {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}

.TrainStopBarDestination.DESTINATION .ShortLine{
    width:3px;
    height:15px;
    background-color: cornflowerblue;
}
.TrainStopBarDestination.DESTINATION .SideCircle{
    width:13px;
    height:13px;
    margin-left:-5px;
    border-radius:50%;
    background-color: cornflowerblue;
}

.TrainStopBarHorizontal {
    width:4px;
    color:cornflowerblue;
    height:100%;
}

.TrainStopBarVertical.PASSING {
    height:12px;
    margin-top:6px;
    background-color: cornflowerblue;
    width:3px;
}

.TrainStopTimes {
    width:50px;
}

.TrainStopTimes p {
    font-size:12px;
    font-weight:bold;
}

p.DepartureDelay, p.ArrivalDelay {
    color:red;
}

.TrainStop {
    min-height:40px;
    display:flex;
    justify-content:left;
    flex-direction:row;
    align-items:center;
    border-top:1px solid black;
}

.TrainStop.CANCELLED p{
    color: lightslategray important;
}

.TrainStop.PASSING {
    min-height:24px;
}

.TrainStopCrowdedness {
    height:15px;
    width:15px;
    border-radius:50%;
    background-color:green;
    margin-right:5px;
}
